/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

/* VARIABLES */

:root {
  --FC: aliceblue;
  --BC: rgb(34, 96, 182);
}

/* APP */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #141e30, #243b55);
  min-height: 100vh;
}

/* SECTION COLOR FORM */

.colorForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form > label {
  padding: 5px;
  color: var(--FC);
}

.form > input[type='text'] {
  width: 200px;
  height: 30px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: transparent;
}

.form > button {
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--BC);
  border: none;
  color: var(--FC);
}

.form > button:hover,
.form > button:focus-visible {
  opacity: 0.9;
  transition: all 0.5s;
}

/* SECTION COLOR LIST FORM */

.colorlistform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formList {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--FC);
}

.formList > select {
  width: 150px;
  height: 30px;
  background-color: var(--BC);
  color: var(--FC);
  border: none;
  outline: none;
  margin-top: 10px;
}

.rectangle {
  background-color: var(--bc-color);
  height: 300px;
  width: 300px;
  border: 3px solid black;
}